<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body style="background-color: rgba(21, 21, 21, 255)" class="mainContainer">
  <div class="main">
  <a href="/skills" class="x">×</a>
    <p class="sign" align="center">Add Skills</p>
    form(action="addSkills", method="post" )
      input#about(type="text",class="form-control",name="skill" size="200" class="un" align="center" placeholder="Add your skills here")
      input(type= "submit" value="Add" class="submit" align="center")
    </form>             
    </div>  
</body>
</html>
