extends master 
block content
  <div class="typing">
  <div class="intro"> 
  <h1 class = "intro-font">Hi</h1>
  <h1 id="inline" class = "intro-font">I'm </h1>
  h1(class = "intro-font" id="name")=name
  h1(class = "intro-font" id="position")=position
  </div>
  p(style = "margin-Left: 10%")=title
  a(href="intro/edit" class="Buttons" style="width:7%") Edit Details 
  </div>

