* {
  margin: 0;
  padding: 0;
}

.menu {
  text-decoration: none;
  color: white;
}

.mainMenu {
  background-color: black;
  list-style-type: none;
  display: flex;
}

.mainMenuChild {
  margin-left: 2%;
}
